$primary : #3e3e3e;
$secondary : #1D1D1D;

$background-color : $secondary;
$input-color : $primary;

/* BREAKPOINTS */
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);
