body {
    background-color: $background-color;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.bg-dark {
    background-color: $background-color !important;
}

.navbar {
    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    .container {
        form {
            width: 40%;

            .form-control {
                background-color: $input-color;
                color: white;
                border: none;
            }
        }
    }
}

main {
    .media-container {
        min-height: 450px;

        img {
            width: 100%;
            height: 90%;
            object-fit: cover;
        }
    }
    .media-title {
        color: white;
    }
}


main {
    .fiche-picture-container {
        position: relative;
        height: 600px;

        .fiche-picture {
            height: 100%;
            object-fit: cover;
        }
    }

    .fiche-score-container {
        height: 200px;
        background: $primary;
        border-radius: 10px;
        padding: 30px;

        position: absolute;
        bottom: 0;

        .fiche-score-text {
            font-size: 24px;
            text-align: center;
            font-weight: bold;
        }
    }

    .fiche-score-value {
        font-size: 30px;
        font-weight: 500;
    }

    .fiche-score-source {
        font-size: 14px;
        font-weight: 300;
    }

    .fiche-ul {
        margin-top: 30px;
        column-count: 2;
        column-gap: 15px;

        li {
            font-size: 14px;
        }

        .fiche-info-title {
            color: #6f6f6f;
        }
    }

    .fiche-separator {
        height: 3px;
        border-radius: 3px;
        width: 100px;
        background-color: $primary;
    }
}


@media (max-width: map-get($breakpoints, lg)) {
    main {
        .fiche-score-container {
            position: relative;
        }
    }
}

@media (max-width: map-get($breakpoints, sm)) {
    main {
        .fiche-ul {
            column-count: 1;
        }
    }
}
